<!-- Start your project here-->
<div style="height: 100vh">
  <div class="flex-center flex-column">
    <h1 class="animated fadeIn mb-4">Material Design for Bootstrap (Angular) - Compilation Version</h1>
    <h2 class="animated fadeIn mb-4">How to use this project:</h2>

    <h5>Modify source files located in
      <code>src/app/lib/ng-uikit-pro-standard</code> directory,</h5>
    <h5>Compile project using command
      <code>npm run compile</code>,</h5>
      <h5>Test your changes in this application.</h5>

  </div>
</div>
<!-- /Start your project here-->
